.carousel-container {
    position: relative;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel img {
    width: 285px;
    height: 300px;
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  }
  
  .carousel-buttons button {
    margin: 0 5px;
  }
  